//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// Layer IDs

#define BASE 0
#define NAV  1
#define NUM  2
#define FN   3
#define ADJ  4

// Key Groups

#define KEYS_L       0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25
#define KEYS_R       5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31
#define KEYS_L_THUMB 32 33 34
#define KEYS_R_THUMB 35 36 37
#define KEYS_THUMBS  KEYS_L_THUMB KEYS_R_THUMB

// Timings

#define COMBO_TIMEOUT_FAST 18
#define COMBO_TIMEOUT_SLOW 30
#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

/ {
    combos {
        compatible = "zmk,combos";

        // Left hand horizontal combos

        combo_esc_l {
            key-positions = <1 2>;
            bindings = <&kp ESC>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        // Right hand horizontal combos

        combo_esc_r {
            key-positions = <7 8>;
            bindings = <&kp ESC>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        combo_l_para {
            key-positions = <16 17>;
            bindings = <&l_para_morph>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        combo_r_para {
            key-positions = <17 18>;
            bindings = <&r_para_morph>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        combo_l_bracket {
            key-positions = <27 28>;
            bindings = <&kp LEFT_BRACKET>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        combo_r_bracket {
            key-positions = <28 29>;
            bindings = <&kp RIGHT_BRACKET>;
            timeout-ms = <COMBO_TIMEOUT_FAST>;
            require-prior-idle-ms = <COMBO_IDLE_FAST>;
        };

        // Left hand vertical combos

        combo_at {
            bindings = <&kp AT>;
            key-positions = <1 11>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_hash {
            bindings = <&kp HASH>;
            key-positions = <2 12>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <3 13>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_percent {
            bindings = <&kp PERCENT>;
            key-positions = <4 14>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_grave {
            bindings = <&kp GRAVE>;
            key-positions = <22 11>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_bslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <12 23>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_equals {
            bindings = <&kp EQUAL>;
            key-positions = <13 24>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_tilde {
            bindings = <&kp TILDE>;
            key-positions = <14 25>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        // Right hand vertical combos

        combo_caret {
            bindings = <&kp CARET>;
            key-positions = <5 15>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_plus {
            bindings = <&kp PLUS>;
            key-positions = <6 16>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_star {
            bindings = <&kp STAR>;
            key-positions = <7 17>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_ampersand {
            bindings = <&kp AMPERSAND>;
            key-positions = <8 18>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <15 26>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_dash {
            bindings = <&kp MINUS>;
            key-positions = <16 27>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_fslash {
            bindings = <&kp FSLH>;
            key-positions = <17 28>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };

        combo_pipe {
            bindings = <&kp PIPE>;
            key-positions = <18 29>;
            timeout-ms = <COMBO_TIMEOUT_SLOW>;
            require-prior-idle-ms = <COMBO_IDLE_SLOW>;
        };
    };
};

/ {
    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Mod Left";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-key-positions = <KEYS_R KEYS_THUMBS>;
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "Homerow Mods Right";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <KEYS_L KEYS_THUMBS>;
        };

        comma_morph: comma_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Comma/Semicolon/Less than";
            bindings = <&kp COMMA>, <&comma_inner_morph>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        comma_inner_morph: comma_inner_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Semicolon/Less than";

            // my mac keyboard layout swaps p/; hence p here is actually ;

            bindings = <&kp P>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        dot_morph: dot_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Dot/Colon/Greater than";
            bindings = <&kp DOT>, <&dot_inner_morph>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_inner_morph: dot_inner_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Colon/Greater than";

            // my mac keyboard layout swaps P/: hence P here is actually :

            bindings = <&kp LS(P)>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        qmark_morph: qmark_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Question Mark/Exclamation Point";
            bindings = <&kp QUESTION>, <&kp EXCLAMATION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        l_para_morph: l_para_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Left Parenthesis/Left Angle Bracket";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        r_para_morph: r_para_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "Right Parenthesis/Right Angle Bracket";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        shift_space: shift_space {
            compatible = "zmk,behavior-mod-morph";
            label = "SHIFT_SPACE";
            bindings = <&sk LSHIFT>, <&kp SPACE>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTRL|MOD_RCTRL)>;
            keep-mods = <(MOD_LGUI|MOD_RGUI|MOD_LCTRL|MOD_RCTRL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
       &kp Q         &kp W        &kp E        &kp R         &kp T          &kp Y        &kp U          &kp I         &kp O        &kp SINGLE_QUOTE
       &hml LCTRL A  &hml LALT S  &hml LGUI D  &hml LSHFT F  &kp G          &kp H        &hmr RSHFT J   &hmr RGUI K   &hmr RALT L  &hmr RCTRL SEMI
&none  &kp Z         &kp X        &kp C        &kp V         &kp B          &kp N        &kp M          &comma_morph  &dot_morph   &qmark_morph      &none
                                  &lt FN BSPC  &shift_space  &lt NUM TAB    &lt NUM RET  &lt NAV SPACE  &lt FN BSPC
            >;
        };

        nav_layer {
            label = "NAVI";
            bindings = <
        &kp LG(Q)  &trans    &trans    &trans     &trans    &kp PG_UP  &mt RG(BSPC) BSPC  &mt RG(HOME) UP   &mt RG(DEL) DEL  &trans
        &sk LCTRL  &sk LALT  &sk LCMD  &sk LSHFT  &trans    &kp PG_DN  &mt HOME LEFT      &mt RG(END) DOWN  &mt END RIGHT    &kp ENTER
&trans  &trans     &trans    &trans    &trans     &trans    &kp INS    &kp TAB            &trans            &trans           &trans     &trans
                             &trans    &trans     &trans    &trans     &trans             &trans
            >;
        };

        num_layer {
            bindings = <
        &kp KP_NUMLOCK    &kp KP_N7        &kp KP_N8        &kp KP_N9         &trans    &trans  &trans  &trans  &trans  &trans
        &hml LCTRL KP_N0  &hml LALT KP_N4  &hml LCMD KP_N5  &hml LSHFT KP_N6  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans            &kp KP_N1        &kp KP_N2        &kp KP_N3         &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                           &trans           &trans            &trans    &trans  &trans  &trans
            >;

            label = "NUM";
        };

        fn_layer {
            bindings = <
        &kp F12         &kp F7        &kp F8        &kp F9         &trans    &trans      &kp C_PREV             &kp C_VOL_UP        &kp C_NEXT             &trans
        &hml LCTRL F11  &hml LALT F4  &hml LCMD F5  &hml LSHFT F6  &trans    &trans      &hmr (RSHFT) RC(LEFT)  &hmr RCMD C_VOL_DN  &hmr (RALT) RC(RIGHT)  &trans
&trans  &kp F10         &kp F1        &kp F2        &kp F3         &trans    &trans      &trans                 &trans              &trans                 &trans  &trans
                                      &trans        &trans         &trans    &kp C_MUTE  &kp C_PP               &trans
            >;

            label = "FN";
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
                &sys_reset   &bt BT_CLR    &out OUT_TOG  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F12
                &bootloader  &bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&studio_unlock  &trans       &trans        &trans        &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                           &trans        &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adj_layer {
            if-layers = <NAV NUM>;
            then-layer = <ADJ>;
        };
    };
};
